<header class="site-header">
    <div class="inner">
        {% block navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock navigation %}
        <div class="site-navigation-mobile">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
    </div>
</header>
