$color1                                 = #000000
$color2                                 = #ffffff

$errorColor                             = #cf4343
$successColor                           = #3c763d
$backgroundSuccessColor                 = #DFF0D8
