// /!\ A utiliser uniquement pour embedurl. le chemin est résolu en utilisant celui indique dans grunt/stylus.js
// qui contient déja tout le chemin jusqu'à assets/media/
$baseImgUrl                             = ''
$bgImg                                  = $baseImgUrl + 'bg/'
$pctImg                                 = $baseImgUrl + 'pct/'
$elementsImg                            = $baseImgUrl + 'elements/'

$fontsUrl                               = 'fonts/'
