/********************************/

.btns
    display                      inline-block
    padding                      10px 25px
    border                       none
    text-decoration              none
    font-size                    1.6rem
    text-transform               uppercase
    text-align                   center
    box-sizing                   border-box
    font-b()
    transition1()

.btn-1
    background-color             $color5
    color                        $color2

    &:hover
        background-color         $color6

.btn-2
    background-color             $color4
    color                        $color2
    border                       2px solid $color4

    &:hover
        background-color         $color3

    &.active
        background-color         $color3
        border-color             $color2
