/********************************/

.smk-error-msg
    display                      block
    margin-top                   5px
    color                        $errorColor
    font-size                    1.2rem
    font-l()
