/*
                                                          Open-Sans
    Light (300)
    Regular (400)
    Semi-Vold (600)
    Bold (700)
    Extra-Bold (800)
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
