{% extends 'extended_base.html.twig' %}

{% block opengraph_meta '' %}
{% block twitter_meta '' %}
{% block old_browser '' %}
{% block inline_js '' %}
{% block main_javascripts '' %}
{% block head_javascripts '' %}

{% block content %}

    <div class="site-content">
        {{ content }}
    </div>

{% endblock content %}
