{% extends 'extended_base.html.twig' %}

{% block content %}

    <div class="site-content fullpage">
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock header %}
        {{ content }}
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock footer %}
    </div>

{% endblock content %}
